# Fill in the values and copy this to a file called "env".

TIMEZONE=

RAINFOREST_USERNAME=
RAINFOREST_PASSWORD=
RAINFOREST_DEVICE_GUID=

FLUME_CLIENT_ID=
FLUME_CLIENT_SECRET=
FLUME_USERNAME=
FLUME_PASSWORD=
FLUME_USER_ID=
FLUME_DEVICE_ID=

SLACK_TOKEN=
SLACK_CHANNEL=
